<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketch</title>
    <style> body {padding: 0; margin: 0;} </style>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='p5.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='p5.dom.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='cube_waves.js')}}"></script>

    <!--

    <script src="{{url_for('static', filename='p5.min.js')}}"></script>
    <script src="{{url_for('static', filename='p5.dom.min.js')}}"></script>
    <script src="{{url_for('static', filename='cube_waves.js')}}"></script>

    <script src="../js/p5.min.js"></script>
    <script src="../js/p5.dom.min.js"></script>
    <script src="../js/cube_waves.js"></script>
    -->
  </head>
  <body>
    <p> Hello </p>
    <script type="text/javascript" src="{{url_for('static', filename='cube_waves.js')}}"></script>
  </body>
</html>
